pom.xml.versionsBackup
target/
.idea*/
**/*.iml
*.iml
**/*.ipr
node_modules/
**/*.iws
**/*.jar
**/*.class
**/*.war
**/test_out/
jsduck.exe
ui/docs/out
jsduck.exe
ui/docs/out
*.ipr
*.iws
ui/npm-debug.log
message.txt
ui/client/target/
*.log
*.lck
*.ctrl
*.dat
*derbyDB*
*.class
*.jar
/paas/automation/target/
/paas/automation/target
/.project
/.settings
.settings
.mvn
.project
.classpath
gen