pom.xml.versionsBackup
target/
.idea*/
**/*.iml
*.iml
**/*.ipr
node_modules/
**/*.iws
**/*.jar
**/*.class
**/*.war
**/test_out/
jsduck.exe
ui/docs/out
jsduck.exe
ui/docs/out
*.ipr
*.iws
ui/npm-debug.log
message.txt
ui/client/target/
*.log
*.lck
*.ctrl
*.dat
*derbyDB*
*.class
*.jar
/paas/automation/target/
/paas/automation/target
/.project
/.settings
.settings
.mvn
.project
.classpath
automation/chromedriver.exe
ui/build/
platform/runtime/logs
ui/app/index.html
/platform/analytics/analytics-schema-gen/impl/tmp
rebel.xml
platform/runtime/deployment/deployer-templates/src/main/resources/log4j/logging-customizations.dsl

# Original UI ignore file
node_modules/
ui/app/*.html
ui/app/*.jsp
ui/message.txmt
ui/test/test_out/
ui/app/test_out
ui/build/
ui/npm-debug.log
ui/app/coverage
theme.css
ui/*.tgz
ui/pom.xml.versionsBackup
app/coverageAgm/
e2e.txt
automation/automation-run/target/
automation/**/*.jar
automation/**/*.class
plato/
automation/automation-run/chromedriver.log
automation/video-recorder-servlet/dependency-reduced-pom.xml
scripts/grunt/output/
ui/app/upload/
ui/app/help/
ui/app/devjs


third-party.css
chromedriver
chromedriver.exe
automation/ui-tests/chromedriver.log
automation/chromedriver.log
automation/chromedriver.exe

chromedriver.log

ui/automation/ui-tests/chromedriver.log

node.log

ui/app/routes.js

*.sublime*
*.orig
*.log


#ESS-SAW ignore
#ignore versions:set backup
ess-saw/pom.xml.versionsBackup

#Ignore output folder
ess-saw/out/
ess/saw/target/

#Ignore generated zip files
ess-saw/**/ootb-articles.zip
ess-saw/**/ootb-articles-translate.zip
ui/**/Graphic-Artifacts.zip

#Ignore logs
ess-saw/logs/

#ignore thumbnails created by windows
ess-saw/Thumbs.db

ess-saw/automation/automation-tests/client-tests/stories/src/test/resources/stories/category/test.story
ess-saw/automation/automation-run/chromedriver.log
ess-saw/ess-webapp/aa/logs/ess.log
ess-saw/ess-webapp/logs/ess.log

ess-saw/automation/automation-tests/client-tests/logs/
ess-saw/ess-upload-tool/logs/

# saw-ui
ess-saw/saw-ui/.jshinttrc
ess-saw/saw-ui/.csslintrc
ess-saw/saw-ui/app/js/modules/qasap/
ess-saw/saw-ui/app/js/modules/sap/
ess-saw/saw-ui/app/js/modules/infra/
ess-saw/saw-ui/docs/
ess-saw/saw-ui/app/js/platform-init

ess-saw/saw-ui/app/js/modules/saw/resources/css/saw-old/theme.css
ess-saw/saw-ui/app/js/modules/saw/resources/css/theme.css

/dev/
/ui/dev/
